<section class="w-1/2">
  <div class="grid grid-flow-row md:grid-flow-col auto-cols-fr gap-2">
    <app-stat-card [number]="1000" color="blue" label="Ventas"></app-stat-card>
    <app-stat-card [number]="1000" color="green" label="Total" icon=""></app-stat-card>
    <app-stat-card [number]="1000" color="yellow" label="Etecsa" icon=""></app-stat-card>
    <app-stat-card [number]="1000" color="purple" label="Disquera"
      icon=""></app-stat-card>
    <app-stat-card [number]="1000" color="red" label="Banco" icon=""></app-stat-card>
  </div>

  <app-sales-overview></app-sales-overview>
</section>