<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5 p-0 d-flex align-items-center">
    <img src="{{user?.avatar}}_100x100" alt="user" class=" rounded-full cursor-pointer">
</button>
<mat-menu #profile="matMenu" class="">
    <button mat-menu-item routerLink="/about">
        <mat-icon fontIcon="info"></mat-icon> Acerca de Picta</button>
    <button mat-menu-item routerLink="/terms">
        <mat-icon fontIcon="priority_high"></mat-icon>Terminos de uso</button>
    <button mat-menu-item (click)="logout()">
        <mat-icon fontIcon="exit_to_app"></mat-icon> Sign Out </button>
</mat-menu>