// En tu archivo de estilos global o componente CSS
.warning-slide-toggle .mat-slide-toggle-bar {
    background-color: #f44336; // Color de fondo del slider cuando está inactivo
  }
  
  .warning-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #ff9800; // Color de fondo del slider cuando está activo
  }
  
  .warning-slide-toggle .mat-slide-toggle-thumb {
    background-color: #f44336; // Color del pulgar del slider
  }
  
  // Sobrescribe el color de la clase interna de Angular Material
  .warning-slide-toggle .mdc-switch-handle::before {
    background-color: #f44336 !important; // Cambia el color del pulgar del slider cuando está activo
  }
  