<form [formGroup]="paymentFilters">
  <section class="flex flex-col sm:flex-row justify-between items-center gap-5 shadow-lg px-4">
    <mat-form-field appearence="fill">
      <mat-label>Publicaciones</mat-label>
      <mat-select [formControl]="pubControl" (selectionChange)="selectPublication($event.value)">
        <mat-option [value]="">Todo</mat-option>
        @for(publicacion of publicationList; track $index ){
        <mat-option [value]="publicacion">{{publicacion.nombre}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input formControlName="date__gte" matStartDate placeholder="Inicio">
        <input formControlName="date__lt" matEndDate placeholder="Fin">
      </mat-date-range-input>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <button mat-raised-button class="page-btn" mat-button><mat-icon
        class="mr-1">file_download_outline</mat-icon>Exportar
    </button>
  </section>

  <mat-button-toggle-group aria-label="Font Style" class="col-span-3 place-self-center my-2" formControlName="type">
    <mat-button-toggle value="all">Todos</mat-button-toggle>
    <mat-button-toggle value="payment">Pago</mat-button-toggle>
    <mat-button-toggle value="donation">Premiación</mat-button-toggle>
    <mat-button-toggle value="reproduccion">Reproducción</mat-button-toggle>
    <mat-button-toggle value="descarga">Descarga</mat-button-toggle>
  </mat-button-toggle-group>
</form>


<section>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        Fecha
      </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date: 'd/M/yy, h:mm a'}}</td>
    </ng-container>

    <ng-container matColumnDef="publicacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Publicación
      </th>
      <td mat-cell *matCellDef="let element"> {{element.items_data[0].item.description}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
        Tipo
      </th>
      <td mat-cell *matCellDef="let element">
        @switch(element.type){
          @case('donation'){
          <span>Premiación</span>
          }
          @case('payment'){
          <span>Pago</span>
          }
          @default{
          <span>-</span>
          }
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
        Monto
      </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} {{ element.currency }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator (page)="paginate($event)" [length]="total" [pageSizeOptions]="[5,10, 20,50]" showFirstLastButtons>
  </mat-paginator>
</section>