@use '@angular/material' as mat;


$custom-primary: mat.define-palette(mat.$indigo-palette);
$custom-accent: mat.define-palette(mat.$blue-gray-palette,);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-dark-theme((color: (primary: $custom-primary,
                accent: $custom-accent,
                warn: $custom-warn, )));

@include mat.all-component-themes($custom-theme);


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}